.banner {
  width: 70%;
  border-bottom: black solid 4px;
}

.background {
  background: center url('../public/images/bg.jpg') no-repeat;
  background-size: cover;
  min-height: 60vh;
}

.bg-dark-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}
